.weather{
    margin: 0;
    /* padding: 10px 20px; */
  }
  
  .weather__container{
    display: flex;
    flex-direction: column;
    /* padding: 1.5em; */
  }
  
  .weather__hours{
    margin: 0;
    font-size: 1.3em;
  }
  .weather__title{
    margin: 0 auto;
    font-family: var(--poppins);
    font-weight: 400;
  }
  .weather__day{
    font-family: var(--open-sans);
  }
  .weather__picture{
    margin: 0 auto;
  }
  .weather__temperature{
    font-size: 4em;
    margin: 0 auto;
  }
  .weather__state{
    font-family: var(--open-sans);
    font-weight: 600;
  }