.footer{
    background-color: var(--container-color-ligth);
    margin-top: 5em;
  }
  .footer__container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer__name{
    color: var(--main-color);
    font-size: 1.5em;
    margin: 1em;
  }